<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="searchCustomer"
                [formGroup]="searchById" (ngSubmit)="search()">

                    <div class="row">
                        <div class="col-8">
                            <label class="label-control">Search by Id: </label>
                            <input type="text" class="form-control" name="id" formControlName="id" />
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Result</h4>
              <h6 class="card-subtitle lh-base">
                this search is done from a b plus tree loaded in memory
              </h6>
            </div>

            <div class="table-responsive">
              <table class="table customize-table mb-0 v-middle">
                <thead class="table-light">
                  <tr>
                    <th class="border-bottom border-top">Id</th>
                    <th class="border-bottom border-top">First Name</th>
                    <th class="border-bottom border-top">Last Name</th>
                    <th class="border-bottom border-top">Direction</th>
                    <th class="border-bottom border-top">Age</th>
                    <th class="border-bottom border-top">Movil</th>
                    <th class="border-bottom border-top">DateBirth</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customers_result">
                    <td> {{ customer.id }} </td>
                    <td> {{ customer.firstName }} </td>
                    <td> {{ customer.lastName }} </td>
                    <td> {{ customer.direction }} </td>
                    <td>
                      <span class="badge bg-light-success text-success fw-normal"> {{ customer.age }} </span>
                    </td>
                    <td> {{ customer.movil }} </td>
                    <td> {{ customer.dateBirth }} </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>