<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="saveCustomer" [formGroup]="registerCustomer"
                    (ngSubmit)="createCustomer()">

                    <div class="row">
                        <div class="col-12">
                            <label class="label-control">Id: </label>
                            <input type="text" class="form-control" name="id" formControlName="id" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">First Name: </label>
                            <input type="text" class="form-control" name="firstName" formControlName="firstName" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">Last Name: </label>
                            <input type="text" class="form-control" name="lastName" formControlName="lastName" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">Direccion: </label>
                            <input type="text" class="form-control" name="direction" formControlName="direction" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">Movil: </label>
                            <input type="text" class="form-control" name="movil" formControlName="movil" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">age: </label>
                            <input type="text" class="form-control" name="age" formControlName="age" />
                        </div>
                        <div class="col-12">
                            <label class="label-control">Birthday (Y-M-D): </label>
                            <input type="text" class="form-control" name="dateBirth" formControlName="dateBirth" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tree B +</h4>
            <h6 class="card-subtitle lh-base">
                this is done from a b plus tree loaded in memory
            </h6>

            <pre>{{ stringTree }}</pre>
        </div>
    </div>
</div>